.header {
	background: #009688;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	z-index: 50;
	width: 100%;
	line-height: 2em;
}

.header .title {
	color: #FFF;
	margin: 0px;
	padding: 20px;
	font-weight: bold;
	font-size: 1.37em;
	display: inline-block;
}

.header nav {
	display: inline-block;
	vertical-align: baseline;
}

.header nav a {
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
	display: block;
	padding: 20px;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}
