.layer {
  display: block;
}

.latest:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .layer {
  }

  .latest {
    display: inline-block;
    width: 40%;
  }

  .latest:not(:first-child):not(:last-child) {
    margin: 0 10px;
  }
}

