.layer {
  display: block;
}

.latest:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  .layer {
    margin: 0 auto;
  }

  .latest {
    margin: 0;
    display: inline-block;
    width: 47%;
  }

  .latest:nth-child(odd) {
    margin-right: 26px;
  }

  .latest:nth-child(even) {
    margin-left: 26px;
  }
}

@media (min-width: 992px) {

  .layer {
    width: 60%;
    margin: 0 auto;
  }

  .latest {
    width: 40%;
    margin: 0px auto !important;
    display: inline-block;
  }

  .latest:nth-child(odd) {
    margin-right: 5px;
  }

  .latest:nth-child(even) {
    margin-left: 5px;
  }
}